@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right,#F3E9C0,#D9A7EB);
}
main{
    border-radius: 15px;
    box-shadow: 5px 5px 15px #5c4e6188;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color: #A6B4E6;
text-align: center;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.589)17, 82, 82); 
}
h2{
color: #AFE6BE;
}